{#
  Header Layout

  Main site header with logo and hardcoded navigation menu
#}

{% set menu_items = [
  {
    title: 'Home',
    url: site.url,
    current: false
  },
  {
    title: 'About',
    url: site.url ~ '/about',
    current: false
  },
  {
    title: 'Services',
    url: site.url ~ '/services',
    current: false,
    children: [
      { title: 'Web Development', url: site.url ~ '/services/web-development' },
      { title: 'Design', url: site.url ~ '/services/design' },
      { title: 'Consulting', url: site.url ~ '/services/consulting' }
    ]
  },
  {
    title: 'Blog',
    url: site.url ~ '/blog',
    current: false
  },
  {
    title: 'Contact',
    url: site.url ~ '/contact',
    current: false
  }
] %}

<header class="site-header" role="banner">
  <div class="site-header__container">
    <div class="site-header__logo">
      {% if site.has_logo %}
        <a href="{{ site.url }}" class="site-logo">
          <img src="{{ site.theme.link }}/screenshot.png" alt="{{ site.name }}">
        </a>
      {% else %}
        <a href="{{ site.url }}" class="site-name">{{ site.name }}</a>
      {% endif %}
    </div>

    {% include 'Menu/Menu.twig' with { items: menu_items } %}
  </div>
</header>
