{#
  Header Component

  Main site header with logo and navigation menu
  Menu items are pre-processed server-side with active states
#}

<header class="site-header" role="banner">
  <div class="site-header__container">
    <div class="site-header__logo">
      {% if logo %}
        <a href="{{ site.url }}" class="site-logo">
          <img src="{{ logo.url }}" alt="{{ logo.alt }}">
        </a>
      {% else %}
        <a href="{{ site.url }}" class="site-name">{{ site.name }}</a>
      {% endif %}
    </div>

    {% if menu_items %}
      {% include 'Menu/Menu.twig' with { items: menu_items } %}
    {% endif %}
  </div>
</header>
